<div class="card review-card reveal">
  <!-- Customer -->

  <div class="review-header">
    <img
      src="{{ url_for('static', filename=review.avatar) }}"
      alt="{{ review.name }}"
    />

    <div>
      <h4>{{ review.name }}</h4>

      <p class="review-location">📍 {{ review.designation }}</p>
    </div>
  </div>

  <!-- Rating -->

  <div class="product-rating">
    ⭐⭐⭐⭐⭐

    <span> {{ review.rating if review.rating else "5.0" }} </span>
  </div>

  <!-- Purchased Product -->

  <p class="review-product">
    Purchased:

    <strong>
      {{ review.product if review.product else "MacBook Air M3" }}
    </strong>
  </p>

  <!-- Review -->

  <p class="review-message">"{{ review.message }}"</p>
</div>
