# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Git
.git/
.github/
.gitignore

# IDE
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Python Caches
.pytest_cache/
.mypy_cache/

# Build Artifacts
build/
dist/
*.egg-info/

# Docker
Dockerfile.old

# Documentation
assets/
README.md