# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Python Cache
.pytest_cache/
.mypy_cache/

# Build Artifacts
build/
dist/
*.egg-info/

# Docker
Dockerfile.old

# Documentation
assets/
README.md